<%- include ("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script defer src="/js/dashboard.js"></script>
</head>
<body>
    <main>
        <div class="contenedor-principal">
            <div class="contenedor-headerPanel">
                <div class="contenedor-registrarse">
                    <button type="button" id="btn-agregarAdmin">
                        <i class="bi bi-person-fill-add"></i>
                        <a id="vinculo" href="../registro/registro.html">Agregar admin</a>
                    </button>
                </div>
                <div id="contenedorTitulo"> <!--Agregue este contenedor y lo cambie de lado, ya que antes estaba el h1 estaba arrriba del agregar admin-->
                    <i class="bi bi-arrow-left" id="volverProductos"></i>
                    <h1>Panel Admin</h1>
                </div>
            </div>
            <div class="contenedor-tituloPanel">
                <h2>Productos</h2>
                <button type="button" id="btn-agregarProducto">Agregar producto</button>
            </div>
            <div class="contenedor-listaProductos">
                <ul class="listaProductos">
                    <% productos.forEach(producto => { %>
                        <li class="itemProducto">
                            <div class="itemProductoInfo">
                                <p><strong>ID: </strong> <%= producto.id_producto %> </p>
                                <img src="<%= producto.url_imagen%>" alt="">
                                <p><strong>Nombre: </strong> <%=producto.nombre%> </p>
                                <p><strong>Precio: </strong>$<%=producto.precio%> </p>
                                <p><strong>Categoria: </strong> <%=producto.categoria%> </p>
                                <p>
                                    <strong>Activo: </strong>
                                    <span class=" <%=producto.activo === 1 ? 'activo' : 'inactivo'%> "> <%=producto.activo === 1 ? true : false%></span>
                                </p>
                            </div>
                            <div class="acciones">
                                <button type="button" onclick="modificarProducto('<%= producto.id_producto %>')" id="btn-modificarProducto">
                                    <i class="fas fa-pen iconModificar"></i>
                                </button>
                                <button type="button" onclick="eliminarProducto('<%= producto.id_producto %>')">
                                    <i class="fas fa-trash iconEliminar"></i>
                                </button>
                                <button type="button" onclick="activarProducto('<%= producto.id_producto %>')">
                                    <i class="fas fa-check iconActivar"></i>
                                </button>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </main>

    <div id="modal">
    </div>
    <%- include ('partials/footer') %>